html,body{
  width: 100%;
  height: 100%;
  background: rgb(120, 100, 210);
  background: linear-gradient(rgb(120, 100, 210),rgb(138,123,248));
}

header{
  width: 100%;
  height: 1rem;
  margin-top: 0.22rem;
}

header input[type="button"]{
  width: 0.70rem;
  height: 0.54rem;
  background: url(../img/search.svg) no-repeat;
  background-size:0.6rem;
  border:none;
  margin: 0.2rem 0 0 0.38rem;
}

header input[type="text"]{
  width: 0;
  height: 0.65rem;
  line-height: 0.65rem;
  float: left;
  border: 0.01rem solid #d7d7d7;
  border-radius: 0.05rem;
  box-sizing: border-box;
  font-size: 0.2rem;
  padding-left: 0.2rem;
  margin: 0.15rem 0.15rem 0 -0.3rem;
}

main{
  width: 100%;
  height: calc(100% - 1.22rem);
  overflow: hidden;
  position: fixed;
  margin-top: 0.18rem;
}

main ul{
  width: 10000px;
  height: 100%;
  position: absolute;
  left: -4.65rem;
}

main h1{
  font-size:0.3rem;
  color:rgba(255,255,255,0.7);
  font-weight: normal;
  margin:0 0 0.1rem 1.03rem;
}

main ul li p{
  font-size: 0;
  margin: 0.1rem 0 0 0.1rem;
}

main ul li p img{
  width: 0.2rem;
  margin-right: 0.1rem;
}

main ul li{
  width: 5.6rem;
  height: 100%;
  float: left;
  transform: scale(0.85);
  display: flex;
  flex-direction: column;
}

main ul li h2{
  font-size:0.6rem;
  color: #fff;
  margin-left: 0.1rem;
}

main ul li.rotating{
  transform:scale(1);
}

main ul li article{
  box-shadow:0 0.1rem 0.3rem 0.02rem rgba(0,0,0,0.2);
  display: inline-block;
  width: 100%;
  height: calc(100% - 2rem);
  background: #fff;
  border-radius: 0.2rem;
  text-align: center;
  margin: 1.24rem 0 2.5rem;
}

main ul li article img{
  width: 3rem;
  margin: 0.8rem 0 0.47rem;
}

main ul li article p{
  font-size:0.3rem;
  color: rgb(120, 100, 210);
  margin: 0;
}

main ul li article p em{
  font-size:0.8rem;
}

main ul li article section{
  width: 3.6rem;
  color: #fff;
  border:0.01rem solid rgb(120, 100, 210);
  background: rgb(120, 100, 210);
  height: 0.96rem;
  line-height: 0.96rem;
  border-radius: 0.96rem;
  text-align: left;
  margin: 0.5rem 0 0 1rem;
}

main ul li article section em{
  display: inline-block;
  width: 0.9rem;
  font-size: 0.4rem;
  text-align: center;
}

main article:nth-child(2) em{
  font-size: 0.2rem;
  display: inline-block;
  height: 0.55rem;
  line-height: 0.55rem;
  color: #fff;
  padding:0 0.3rem;
  border-radius: 0.6rem;
  border: 0.01rem solid rgba(255,255,255,0.8);
}

main ul li article section em:nth-child(2){
  height: 0.83rem;
  line-height: 0.83rem;
  margin-top: 0.05rem;
  width: 1.8rem;
  color: #555;
  background: #fff;
}

main article:nth-child(2){
  width: 100%;
  position: absolute;
  z-index: 1;
  top:1.95rem;
  left: 1.06rem;
}

main article:nth-child(2) section{
  width: 10000px;
  height: 0.57rem;
  overflow: hidden;
}

main article:nth-child(2) p{
  position: absolute;
  right:1rem;
  top:0;
  width: 2.5rem;
  height: 0.57rem;
  background: linear-gradient(to left,rgba(126, 109, 213,1),rgba(126, 109, 213,0))
}

#shoppingcart{
  width: 0.7rem;
  height: 0.6rem;
  position: relative;
  margin: 0.2rem 0.55rem 0 0;
  float: right;
  background: none;
  border:none;
}

#shoppingcart img{
  width: 0.6rem;
}

#shoppingcart em{
  width: 0.35rem;
  height: 0.35rem;
  line-height: 0.35rem;
  color: #fff;
  text-align: center;
  border-radius: 0.35rem;
  font-size:0.14rem;
  background: #ec6630;
  display: none;
  position: absolute;
  top: -0.05rem;
  right: -0.2rem;
}