html,body{
  width: 100%;
  height: 100%;
  background: rgb(120, 100, 210);
  background: linear-gradient(rgb(120, 100, 210),rgb(138,123,248));
}

header{
  width: 100%;
  height: 1rem;
  margin-top: 0.22rem;
}

header input[type="button"]{
  width: 0.70rem;
  height: 0.54rem;
  background: url(../img/search.svg) no-repeat;
  background-size:0.6rem;
  border:none;
  margin: 0.2rem 0 0 0;
}

header input[type="text"]{
  width: 0;
  height: 0.65rem;
  line-height: 0.65rem;
  float: left;
  border: 0.01rem solid #d7d7d7;
  border-radius: 0.05rem;
  box-sizing: border-box;
  font-size: 0.2rem;
  padding-left: 0.2rem;
  margin: 0.15rem 0.53rem 0 -0.3rem;
}

main{
  width: 100%;
  height: calc(100% - 1.22rem);
  overflow: hidden;
  position: fixed;
  margin-top: 0.18rem;
}

main h1{
  font-size:0.3rem;
  color:rgba(255,255,255,0.7);
  font-weight: normal;
  margin:0 0 0.1rem 1.03rem;
}

main h2{
  font-size:0.6rem;
  line-height:0.52rem;
  color: #fff;
  margin-left: 1.03rem;
}

main section:nth-child(3){
  font-size: 0;
  margin: 0.2rem 0 0.2rem 1.03rem;
}

main section:nth-child(3) img{
  width: 0.2rem;
  margin-right: 0.1rem;
}

main button{
  font-size: 0.4rem;
  width: 100%;
  height: 0.7rem;
  line-height: 0.7rem;
  color: #fff;
  position: absolute;
  bottom: 4%; 
  background: none;
  border: none;
}

nav{
  width: 100%;
  margin-left: 1.06rem;
  position: relative;
}

nav ul{
  width: 10000px;
  height: 0.6rem;
  overflow: hidden;
}

nav ul li{
  font-size: 0.2rem;
  display: inline-block;
  color: #fff;
  padding:0.1rem 0.3rem;
  border-radius: 0.6rem;
  border: 0.01rem solid rgba(255,255,255,0.8);
}

nav div{
  position: absolute;
  right:1rem;
  top:0;
  width: 2.5rem;
  height: 0.57rem;
  background: linear-gradient(to left,rgba(126, 109, 213,1),rgba(126, 109, 213,0))
}

#shoppingcart img{
  width: 0.6rem;
}

#shoppingcart em{
  width: 0.35rem;
  height: 0.35rem;
  line-height: 0.35rem;
  color: #fff;
  text-align: center;
  border-radius: 0.35rem;
  font-size:0.14rem;
  background: #ec6630;
  display: none;
  position: absolute;
  top: -0.05rem;
  right: -0.2rem;
}

#category-list{
  width: 10000px;
  height: 100%;
  position: absolute;
  top:22%;
  left: -3.73rem;
}

#category-list li{
  width: 5rem;
  height: 65%;
  box-shadow:0 0.1rem 0.3rem 0.02rem rgba(0,0,0,0.2);
  background: #fff;
  border-radius: 0.2rem;
  float: left;
  transform: scale(0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#category-list li.rotating{
  transform:scale(1);
}

#category-list li img{
  width: 3rem;
  margin: 10% 0 6%;
}

#category-list li p{
  font-size:0.3rem;
  color: rgb(120, 100, 210);
}

#category-list li p em{
  font-size:0.8rem;
}

#category-list li section{
  width: 3.6rem;
  color: #fff;
  border:0.01rem solid rgb(120, 100, 210);
  background: rgb(120, 100, 210);
  height: 0.96rem;
  line-height: 0.96rem;
  border-radius: 0.96rem;
  margin: 6% 0 0 0;
}

#category-list li section em{
  display: inline-block;
  width: 0.9rem;
  font-size: 0.4rem;
  text-align: center;
}

#category-list li section em:nth-child(2){
  height: 0.83rem;
  line-height: 0.83rem;
  margin-top: 0.05rem;
  width: 1.8rem;
  color: #555;
  background: #fff;
}

#shoppingcart{
  width: 0.7rem;
  height: 0.6rem;
  position: relative;
  margin: 0.2rem 0.55rem 0 0;
  float: right;
  background: none;
  border:none;
}

