ul,li{list-style: none;}
a{text-decoration: none;}
body,h1,h2,h3,button,ul,ol,li,img,a,main,section,article,header,menu,footer,aside,nav,p,svg{
  margin: 0;
  padding: 0;
}

button,input,textarea{
  outline:none;
}

em{
  font-style: normal;
}

body{
  font-family: '微软雅黑', Monaco, monospace;
  background: #f5f5f5;
}