html,body{
  background: #111;
  color:#fff;
}

header{
  width: 100%;
  height: 2.5rem;
  background: linear-gradient(to left,rgb(13, 13, 14),rgb(37, 37, 37));
  color: #fff;
  box-sizing: border-box;
  padding: 0.5rem 0.38rem;
  /* position: fixed; */
  /* top:0; */
  /* display: none; */
}

header p{
  font-size:0.22rem;
}
header img{
  float: right;
  width: 0.5rem;
}
header h1{
  padding: 0.1rem;
  font-size: 0.6rem;
}

header h1 em{
  font-size: 0.75rem;
  text-shadow:0.05rem 0.03rem rgb(19, 19, 19);
}

main{
  /* margin-top: 2rem; */
  padding: 0 0.3rem;
}

main p{
  background: url(../img/point.svg) no-repeat -0.13rem -0.07rem;
  background-size: 0.6rem;
  padding-left: 0.5rem;
  margin-bottom: 0.2rem;
  line-height: 0.4rem;
}

h2{
  padding:0.5rem 0 0.1rem;
  display: block;
}

aside{
  position: fixed;
  right: 0;
  top: 50%;
}

aside img{
  width: 0.6rem;
  position: absolute;
  right: 0;
  background: #222;
  border-radius: 0.7rem;
  padding: 0.1rem;
}
aside ul{
  width: 2rem;
  box-sizing: border-box;
  font-size:0.22rem;
  padding: 0.2rem;
  background:#222;
  position: absolute;
  right: -2rem;
  top:-2.4rem;
  transition: all 1s;
}
aside ul a{
  line-height: 0.4rem;
  color: #fff;
}

section{
  position: fixed;
  right: 0;
  top: 57%;
  width: 0.8rem;
  background: #222;
  border-radius: 0.7rem;
}

section div{
  display: none;
  font-size: 0;
  width: 2.3rem;
  padding:0.1rem;
  float: left;
  box-sizing: border-box;
}

section div a{
  display: inline-block;
  padding-left: 0.1rem;
}

section div img{
  float: left;
  width: 0.6rem;
  border-radius: 0.8rem;
  background: #fff;
}

.icon-top{
  width: 0.7rem;
  height: 0.7rem;
  position: fixed;
  bottom: 10%;
  right: 0;
  background: #fff;
  border-radius: 0.1rem;
}
.icon-top img{
  width: 0.7rem;
}

section img:first-child{
  width: 0.6rem;
  padding: 0.1rem;
  float: right;
}

section div img:nth-child(1){
  position: static;
  padding: 0;
  background: #fff;
  border-radius: 0.8rem;
  float: left;
}