html,body{
  width: 100%;
  height: 100%;
  background: rgb(15, 15, 15);
  font-size:10px;
  overflow: hidden;
}

main{
  padding: 0 0.2rem;
}

h1{
  width: 100%;
  height: 18%;
  position: absolute;
  top:0;
  background: url(../img/recharge-title.svg) no-repeat center;
  background-size: 100%;
  margin-top: 1rem;
}

ul{
  width: 100%;
  height: 60%;
  position: absolute;
  top:23%;
}

ul li{
  width: 100%;
  height: 29%;
  color:#000;
  margin-bottom: 3%;
}

ul li:nth-child(1){
  background: url(../img/recharge-50points.svg) no-repeat center;
  background-size: 100% 7rem;
}

ul li:nth-child(2){
  background: url(../img/recharge-100points.svg) no-repeat center;
  background-size: 100% 6.5rem;
}

ul li:nth-child(3){
  background: url(../img/recharge-200points.svg) no-repeat center;
  background-size: 100% 6.5rem;
}

button{
  position: absolute;
  bottom: 111%;
  left: 50%;
  margin-left: -5rem;
  width: 10rem;
  height: 7%;
  line-height: 7%;
  background: none;
  color: #fff;
  border:0.11rem solid #fff;
  font-size:1.2rem;
  border-radius: 0.3rem;
}

button img{
  width: 5rem;
}

footer{
  color: rgb(223, 223, 223);
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 3.5%;
  font-size: 1.1rem;
}

footer a{
  color: #fff;
}