html, body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #111;
  font-size: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  color: rgb(219,19,4);
  font-size: 1.7rem;
  letter-spacing: 1px;
  padding-bottom: 4rem;
}
h1 em{
  color: #fff;
  font-size: 1.8rem;
  padding-left: 0.1rem;
}

input[type="text"] {
  width: 70%;
  border: 0.2rem solid rgb(166, 167, 168);
  font-size: 1.8rem;
  padding: 0 1rem;
  color: #5E6C77;
  border-radius: 0.5rem;
  background: transparent;
  transition: all .100s;
  height: 4rem;
  line-height: 4rem;
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}
input::placeholder{
  text-align: center;
  color: rgb(207, 206, 206);
}

input[type="text"].keyup {
  color: white;
  border-color: white;
  text-shadow: 0 0 0.4rem white;
  box-shadow: 0 0 0.4rem white,inset 0 0 0.4rem white;
}
canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}
img{
  width: 30rem;
  margin:-9rem 0 1rem;
}

button{
  width:100%;
  border:none;
  background: none;
  margin-top: 4.5rem;
  text-align: center;
}

button img{
  width: 18rem;
  margin: 0;
}

footer{
  font-size: 1.2rem;
  color: #5E6C77;
  position: absolute;
  bottom: 5%;
}

footer a{
  color: #fff;
}
